<div *ngIf="seasons else loading">
  <div *ngFor="let season of seasons">

    <h1>{{season.name}}</h1>

    <ul class="list-group">
      <li class="list-group-item d-flex flex-row justify-content-between" *ngFor="let challenge of season.challenges">
        <span>{{challenge.name}}</span>
        <span *ngIf="currentSeason.id === season.id"><button type="button" class="btn btn-sm btn-secondary"><i class="fa fa-camera" [routerLink]="['/gather', challenge.id]"></i></button></span>
      </li>
    </ul>
  </div>
</div>

<template #loading>
  <div style="position: absolute; top: 45vh; left:45vw;">
    <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
  </div>
</template>
