<div *ngIf="seasons else loading">
  <div *ngFor="let season of seasons">

    <h1 class="text-center"><small class="text-muted">season </small>{{season.name}}</h1>


    <ul class="list-group">
      <li class="list-group-item d-flex flex-row justify-content-between" *ngFor="let challenge of season.challenges">
        <span (click)="detail(challenge)" data-toggle="modal" data-target="#exampleModal" class="pointer">{{challenge.name}}</span>

        <span *ngIf="currentSeason.id === season.id else pastChallenge"><button [ngClass]="challenge.participations? 'btn-secondary': 'btn-primary'" [disabled]="challenge.participations" type="button" class="btn btn-sm"><i class="fa fa-camera" [routerLink]="['/gather', challenge.id]"></i></button></span>

        <template #pastChallenge>
          <span *ngIf="challenge.participations"><button disabled type="button" class="btn btn-sm btn-secondary"><i class="fa fa-camera"></i></button></span>
        </template>

      </li>
    </ul>
  </div>

</div>

<template #loading>
  <div style="position: absolute; top: 45vh; left:45vw;">
    <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
  </div>
</template>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><h4 class="card-title text-center"><small class="text-muted">challenge </small><span *ngIf="detailChallenge">{{detailChallenge.name}}</span></h4></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img *ngIf="detailChallenge && detailChallenge.participations" class="w-100" [src]="detailChallenge.participations[0].url">
        <p class="text-justify"><span *ngIf="detailChallenge">{{detailChallenge.description}}</span></p>
      </div>
    </div>
  </div>
