<div *ngIf="participation; else noParticipation">
  <div class="container-fluid">
    <div class="row">
      <h1 class="col-12">{{participation.name}}</h1>
      <h4 class="col-12">{{participation.description}}</h4>
      <p class="col-12 text-right text-muted">{{participation.user}}</p>
      <div class="img-container m-auto">
        <img [src]="participation.url" alt="participation images">
      </div>
      <div class="w-100 d-flex">
        <button type="button" class="btn btn-my-success" (click)="value(1)">👍🏻</button>
        <button type="button" class="btn btn-my-warning" (click)="value(0)">❓</button>
        <button type="button" class="btn btn-my-danger" (click)="value(-1)">👎🏻</button>
      </div>
    </div>
  </div>
</div>

<template #noParticipation>
  <h1>No evaluations left!</h1>
</template>
