<div *ngIf="season else loading">

  <div class="card mine">
    <div class="card-header mine">
      <h1 class="text-center"><small class="text-muted">season </small>{{season.name}}</h1>
    </div>
    <ul class="card-block list-group p-0">
      <li [class.active]="detailChallenge.id === challenge.id" class="list-group-item d-flex flex-row justify-content-between mb-4" *ngFor="let challenge of season.challenges">
        <span class="pointer" (click)="detail(challenge)">{{challenge.name}}</span>
        <span><button [ngClass]="challenge.participations? 'btn-secondary': 'btn-primary'" [disabled]="challenge.participations" type="button" class="btn"><i class="fa fa-camera" [routerLink]="['/gather', challenge.id]"></i></button></span>
      </li>
    </ul>

  </div>


  <!--
<div class="card">
<h3 class="card-header">Featured</h3>
<div class="card-block">
  <h4 class="card-title">Special title treatment</h4>
  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
  <a href="#" class="btn btn-primary">Go somewhere</a>
</div>
</div>
 -->

</div>

<template #loading>
  <div style="position: absolute; top: 45vh; left:45vw;">
    <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
  </div>
</template>

<div *ngIf="detailChallenge">
  <div class="card mt-4">
    <div class="card-header d-flex justify-content-center">
      <h4 class="card-title text-center"><small class="text-muted">challenge </small>{{detailChallenge.name}}</h4>
    </div>
    <div class="card-block">
      <p class="card-text text-justify">{{detailChallenge.description}}</p>
      <img *ngIf="detailChallenge.participations" class="card-img-top w-100" [src]="detailChallenge.participations[0].url">
      <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-primary" (click)="detailChallenge = false" class="btn btn-primary">ok</button>
        <button *ngIf="!detailChallenge.participations" type="button" class="btn btn-success"><i class="fa fa-camera" [routerLink]="['/gather', detailChallenge.id]"></i></button>
      </div>
    </div>
  </div>
</div>
