<div *ngIf="season else loading">

  <h1 class="text-center"><small class="text-muted">season </small>{{season.name}}</h1>

  <ul class="list-group">
    <li [class.active]="detailChallenge.id === challenge.id" class="list-group-item d-flex flex-row justify-content-between" *ngFor="let challenge of season.challenges">
    <span class="pointer" (click)="detail(challenge)">{{challenge.name}}</span>
    <span><button type="button" class="btn btn-sm btn-secondary"><i class="fa fa-camera" [routerLink]="['/gather', challenge.id]"></i></button></span>
  </li>
  </ul>
</div>

<template #loading>
  <div style="position: absolute; top: 45vh; left:45vw;">
    <i class="fa fa-refresh fa-spin fa-3x fa-fw"></i>
  </div>
</template>

<div *ngIf="detailChallenge">
  <div class="card mt-4">
    <div class="card-header d-flex justify-content-center">
      <h4 class="card-title text-center"><small class="text-muted">challenge </small>{{detailChallenge.name}}</h4>
    </div>
    <div class="card-block">
      <p class="card-text text-justify">{{detailChallenge.description}}</p>
      <div class="d-flex justify-content-between">
        <button type="button" class="btn btn-sm btn-primary" (click)="detailChallenge = false" class="btn btn-primary">ok</button>
        <button type="button" class="btn btn-sm btn-success"><i class="fa fa-camera" [routerLink]="['/gather', detailChallenge.id]"></i></button>
      </div>
    </div>
  </div>
</div>
