/* You can add global styles to this file, and also import other style files */
.pointer {
  cursor: pointer;
}

body {
  background-color: inherit!important;
  min-height: 100vh;
}

.active {
  background-color: #005969!important;
  color: white!important;
  font-weight: bold;
}

html {
background-image: -ms-linear-gradient(bottom left, #c3ffd2 0%, #D8EDED 100%);

/* Mozilla Firefox */
background-image: -moz-linear-gradient(bottom left, #c3ffd2 0%, #D8EDED 100%);

/* Opera */
background-image: -o-linear-gradient(bottom left, #c3ffd2 0%, #D8EDED 100%);

/* Webkit (Safari/Chrome 10) */
background-image: -webkit-gradient(linear, left bottom, right top, color-stop(0, #c3ffd2), color-stop(100, #D8EDED));

/* Webkit (Chrome 11+) */
background-image: -webkit-linear-gradient(bottom left, #c3ffd2 0%, #D8EDED 100%);

/* W3C Markup */
background-image: linear-gradient(to top right, #c3ffd2 0%, #D8EDED 100%);
}
